div{
  position: relative;
}
div::before{
  content: "fasdf";
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  background: url(https://picsum.photos/id/1025/400/300) no-repeat center center/cover fixed;
  filter: brightness(0.5);
  z-index: -1;
  opacity: 1;
}
#example {
  color: white;
  /* box-sizing: border-box; */
  width: 300px;
  height: 200px;
  border: 25px solid #E8C48F;
  padding: 20px;
  overflow: auto;
}